<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Registration</h1>
    <form method="post" action="/process">
        <input type="hidden" name="action" value="register">
        {% with errors = get_flashed_messages(category_filter=['err_fname']) %}
            {% if errors %}
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="fname">First Name: </label>
        <input type="text" name="fname"><br>
        {% with errors = get_flashed_messages(category_filter=['err_lname']) %}
            {% if errors %}
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="lname">Last Name: </label>
        <input type="text" name="lname"><br>
        {% with errors = get_flashed_messages(category_filter=['err_email']) %}
            {% if errors %}
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="email">Email Address: </label>
        <input type="email" name="email"><br>
        {% with errors = get_flashed_messages(category_filter=['err_pass']) %}
            {% if errors %}
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="password">Password: </label>
        <input type="password" name="password"><br>
        <label for="pass_confirm">Confirm Password: </label>
        <input type="password" name="pass_confirm"><br>
        <input type="submit" value="Register"><br>
    </form>
    <h1>Login</h1>
    <form method="post" action="/process">
        <input type="hidden" name="action" value="login">
        {% with errors = get_flashed_messages(category_filter=['err_login_creds']) %}
            {% if errors %}
                {% for error in errors %}
                    <p>{{error}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <label for="email">Email Address: </label>
        <input type="text" name="email"><br>
        <label for="login_pass">Password: </label>
        <input type="password" name="login_pass"><br>
        <input type="submit" value="Login">
    </form>
</body>
</html>