<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Item Search</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id='container'>
        {% if user %}
            <h1>Welcome {{user.username}}!</h1>
            <a href='/logout'>Logout</a>
        {% else %}
            <a href='/'>Login/Register</a>
        {% endif %}
        <div id='id_search'>
            <h2>Search by Item ID</h2>
            <p>An item's internal ID can be found by searching on other databases, such as <a href="https://garlandtools.org/">Garland Tools</a></p>
            {% with errors = get_flashed_messages(category_filter=['err_invalid_id']) %}
                {% if errors %}
                    {% for error in errors %}
                        <p>{{error}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form id='id_form' action='/search/id' method='post'>
                <label for='id'>Item ID:</label>
                <input type='text' name='id'><br>
                {% with errors = get_flashed_messages(category_filter=['err_no_dc']) %}
                    {% if errors %}
                        {% for error in errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for='dc'>Data Center:</label>
                <select name='dc'>
                    <option value=''>-- Select a data center --</option>
                    <option value='Elemental'>Elemental</option>
                    <option value='Gaia'>Gaia</option>
                    <option value='Mana'>Mana</option>
                    <option value='Aether'>Aether</option>
                    <option value='Primal'>Primal</option>
                    <option value='Crystal'>Crystal</option>
                    <option value='Chaos'>Chaos</option>
                    <option value='Light'>Light</option>
                    <option value='Materia'>Materia</option>
                </select><br>
                <input type='submit' id='id_submit' value="Search">
            </form>
        </div>
        <div id='name_search'>
            <h2>Search by Exact Item Name</h2>
            <form id='name_form' action='/search/name' method='post'>
                {% with errors = get_flashed_messages(category_filter=['err_invalid_id']) %}
                    {% if errors %}
                        {% for error in errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for='name'>Item Name (case insensitive):</label>
                <input type='text' name='name'><br>
                {% with errors = get_flashed_messages(category_filter=['err_no_dc']) %}
                    {% if errors %}
                        {% for error in errors %}
                            <p>{{error}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <label for='dc'>Data Center:</label>
                <select name='dc'>
                    <option value=''>-- Select a data center --</option>
                    <option value='Elemental'>Elemental</option>
                    <option value='Gaia'>Gaia</option>
                    <option value='Mana'>Mana</option>
                    <option value='Aether'>Aether</option>
                    <option value='Primal'>Primal</option>
                    <option value='Crystal'>Crystal</option>
                    <option value='Chaos'>Chaos</option>
                    <option value='Light'>Light</option>
                    <option value='Materia'>Materia</option>
                </select><br>
                <input type='submit' id='name_submit' value="Search">
            </form>
            <p><a href='/'>Back to Home</a></p>
        </div>
    </div>
</body>
</html>