<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Email Addresses</h1>
    <table>
    {% for email in emails %}
        <tr>
            <td>{{email.email}}</td>
            <td>{{email.created_at}}</td>
        </tr>
    {% endfor %}
    </table>
    <a href='/'>Home</a>
</body>
</html>